.login-bg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
  background: url('../images/login-bg.png') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}