@import "../Pages/Account/Login.scss";





.blaze-page-content {
  padding: 0px 7px 0px 7px;
}
.mud-table-root .mud-table-head .mud-table-cell {
  font-weight: 700 !important;
}
.font-bold{
  font-weight:bold;
}